.mat-card {
  width: 400px;
  box-sizing: border-box;
  margin: 2rem auto;
  text-align: center;
}
.mat-card .mat-card-actions {
  padding-top: 0;
}
.mat-card .mat-button {
  margin: 0 auto;
  display: block;
}

@media (max-width: 500px) {
  .mat-card {
    width: 90%;
  }
}